.circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #FFFFFF;
    border-radius: 1000px;
    width: 150px;
    height: 150px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    transition: all .5s;
    &-orange {
        color: #F64F00;
        border: 1px solid #F64F00;
        background: none;
        &:hover {
            transform: scale(1.1);
        }
    }
}