.whiteCircle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border-radius: 1000px;
    transform: rotate(15deg);
    width: 150px;
    height: 150px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    transition: all .5s;
    &:hover {
        transform: rotate(0);
    }
}